html, body {
  margin: 0;
  padding: 0;
  height: auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

body {
    flex: 1 0 auto;
    font-family:'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    color: white;
    background: url("MainImages/ocean_landscape2.0.png") no-repeat center center;
    background-size: cover;
}

header {
    color: white;
    text-align: center;
    padding: 2rem;
}

h1{
    font-size: 5rem;
    text-shadow: 0 0 10px white;
    font-family: "Licorice", cursive;
    margin: 0;
}

h2{
    text-shadow: 0 0 10px #061834;
    color:white;
}

h3{
  margin:0;
  margin-bottom: 10px;
}

p.head{
    font-size:140%;
    color:#ffffff;
}

section {
  padding: 2rem;
}

footer {
    text-align: center;
    background-color: hsla(0, 0%, 100%, 0.5);
    padding: 1rem;
    border-radius: 30px;
    margin: 20px;
}

p{
    color:white;
    font-family: 'Courier New', Courier, monospace;
}



/* NAVIGATION LINKS */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsla(0, 0%, 100%, 0.5);
    border-radius: 30px;
    margin: 20px;
    padding: 15px 30px;
    gap: 1rem;
    color:#061834
}

.navlinks {
    list-style:none;
    display: flex;
    margin:0;
    padding:0;
    gap:25px;
}

.navlinks a {
    text-decoration: none;
    color:#061834;
    font-size: 1.2rem;
}

.navlinks a:hover {
    transition-duration: 0.3s;
    font-weight: bold;
    color: #ffffff;
    text-decoration: underline;
}

.logo {
    font-size: 1.5rem;
    font-weight: 800;
    color:#061834;
}

/*END OF NAVBAR*/
.social{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 20px;
}

.social a {
    color: #061834;
    font-size: 1rem;
    margin: 0 10px;
    text-decoration: none;
}

.social a:hover {
    transition-duration: 0.3s;
    font-weight: bold;
    color: white;
    text-decoration: underline;
}
